[Unit]
Description=Prometheus exporter for Nature Remo
Documentation=https://github.com/prometheus-natureremo-expoter

[Service]
Restart=on-failure
User=prometheus
ExecStart=/usr/bin/prometheus-natureremo-exporter --natureremo.access-token=file:/etc/prometheus/natureremo/access_token

[Install]
WantedBy=multi-user.target
