[Unit]
Description=Prometheus exporter for Nature Remo
Documentation=https://github.com/prometheus-natureremo-expoter

[Service]
Restart=on-failure
User=prometheus
EnvironmentFile=/etc/default/prometheus-natureremo-exporter
ExecStart=/usr/bin/prometheus-natureremo-exporter --natureremo.access-token=env:NATURE_ACCESS_TOKEN

[Install]
WantedBy=multi-user.target
